body{
    padding: 0;
    background-color: rgb(53, 106, 185);
}

h1{
    color: white;
    letter-spacing: 2px;
    text-align: center;
    font-size: 64px;
    margin-top: 24px;
}

.content{
    background-color: #fff;
    padding: 15px 20px;
    max-width: 960px;
    margin: 20px auto 320px auto;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
ul{
    list-style-type: none;
    padding: 0;
}

li{
    color: #4b4b4b;
    padding: 20px;
    position: relative;
    height: 46px;
    border-bottom: 4px solid #e6e6e6 ;
    font-size: 20px;
}
li span{
    display: block;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

li div{
    position: absolute;
    top: 0;
    right: 10%;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 15px 25px;
    font-weight:  bold;
    cursor:  pointer;
}

li div:hover{
    font-weight: bold;
    color: white;
    background: rgb(167, 45, 45);
    border: 4px dashed white;
}

form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid rgb(53, 106, 185);
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 0;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: #999;
}

footer{
    text-align: center;
    padding: 0;
    font-size: 20px;
    color: white;
    margin: 0;
}

